* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  justify-content: space-between;
}

.card-collection {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.card-title {
  margin: auto;
  font-size: 18px;
}

svg {
  margin: 2rem;
  position: relative;
  transform: translate(-40px, -90px);
}

#unit-trust {
  fill: white;
}

.card-content {
  background-color: #2775c9;
  height: 85px;
}

.card {
  width: 23rem;
}

.heading {
  margin: auto;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transform: translate(50px, -10px);
  color: #fff;
  font-weight: lighter;
}

.sub-heading {
  margin: auto;
  font-size: 14px;
  color: #fff;
  font-weight: lighter;
  transform: translate(52px, -12px);
}

.percentage {
  transform: translate(30px, 100px);
}
