* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  justify-content: space-between;
}

.card-collection {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.card-title {
  margin: auto;
  font-size: 18px;
}

/* SVG STYLING*/

svg {
  margin: 2rem;
  position: relative;
  transform: translate(-40px, -90px);
}

#unit-trust {
  fill: white;
}

#tax-free {
  fill: white;
}

.percentage {
  font-weight: bolder;
  fill: #2775c9;
  transform: translate(-10px, -10px);
}

.card-content {
  background-color: #2775c9;
  height: 85px;
}

.card {
  width: 25rem;
}

.heading {
  margin: auto;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transform: translate(50px, -10px);
  color: #fff;
  font-weight: lighter;
}

.sub-heading {
  margin: auto;
  font-size: 14px;
  color: #fff;
  font-weight: lighter;
  transform: translate(52px, -12px);
}

.state-percentage {
  display: flex;
}

.state-app {
  margin: 1rem auto;
  display: flex;
  position: relative;
  flex-direction: column;
  transform: translate(-20px);
}

.app-info {
  margin: 0.5rem auto;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 1.13rem;
  font-weight: normal;
  color: #a7a8a9;
}

.app-info-1 {
  margin: 0.5rem auto;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: #a7a8a9;
}

.btn-cancel {
  margin: auto;
  width: 80px;
}
